/* fonts.css */


/* http://www.fontsquirrel.com/fonts/Roman-Caps */
@font-face {
    font-family: 'RomanCapsRegular';
    src: url('../fonts/Roman_SD-webfont.eot');
    src: url('../fonts/Roman_SD-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roman_SD-webfont.woff') format('woff'),
         url('../fonts/Roman_SD-webfont.ttf') format('truetype'),
         url('../fonts/Roman_SD-webfont.svg#RomanCapsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.fontroman {font-family: 'RomanCapsRegular', Arial, sans-serif;letter-spacing: 0;}

.fontroman {font-family: 'RomanCapsRegular', Arial, sans-serif;}



/* http://www.fontsquirrel.com/fonts/cabin */


@font-face {
    font-family: 'CabinRegular';
    src: url('../fonts/Cabin-Regular-webfont.eot');
    src: url('../fonts/Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-Regular-webfont.woff') format('woff'),
         url('../fonts/Cabin-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-Regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinItalic';
    src: url('../fonts/Cabin-Italic-webfont.eot');
    src: url('../fonts/Cabin-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-Italic-webfont.woff') format('woff'),
         url('../fonts/Cabin-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-Italic-webfont.svg#CabinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMedium';
    src: url('../fonts/Cabin-Medium-webfont.eot');
    src: url('../fonts/Cabin-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-Medium-webfont.woff') format('woff'),
         url('../fonts/Cabin-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-Medium-webfont.svg#CabinMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMediumItalic';
    src: url('../fonts/Cabin-MediumItalic-webfont.eot');
    src: url('../fonts/Cabin-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-MediumItalic-webfont.woff') format('woff'),
         url('../fonts/Cabin-MediumItalic-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-MediumItalic-webfont.svg#CabinMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBold';
    src: url('../fonts/Cabin-SemiBold-webfont.eot');
    src: url('../fonts/Cabin-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-SemiBold-webfont.woff') format('woff'),
         url('../fonts/Cabin-SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-SemiBold-webfont.svg#CabinSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBoldItalic';
    src: url('../fonts/Cabin-SemiBoldItalic-webfont.eot');
    src: url('../fonts/Cabin-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-SemiBoldItalic-webfont.woff') format('woff'),
         url('../fonts/Cabin-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-SemiBoldItalic-webfont.svg#CabinSemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBold';
    src: url('../fonts/Cabin-Bold-webfont.eot');
    src: url('../fonts/Cabin-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-Bold-webfont.woff') format('woff'),
         url('../fonts/Cabin-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-Bold-webfont.svg#CabinBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBoldItalic';
    src: url('../fonts/Cabin-BoldItalic-webfont.eot');
    src: url('../fonts/Cabin-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Cabin-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-BoldItalic-webfont.svg#CabinBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.fontcabin {font-family: 'CabinRegular', Arial, sans-serif;letter-spacing: 0;}

.fontcabin1 {font-family: 'CabinRegular', Arial, sans-serif;}
.fontcabin2 {font-family: 'CabinItalic', Arial, sans-serif;}
.fontcabin3 {font-family: 'CabinMedium', Arial, sans-serif;}
.fontcabin4 {font-family: 'CabinMediumItalic', Arial, sans-serif;}
.fontcabin5 {font-family: 'CabinSemiBold', Arial, sans-serif;}
.fontcabin6 {font-family: 'CabinSemiBoldItalic', Arial, sans-serif;}
.fontcabin7 {font-family: 'CabinBold', Arial, sans-serif;}
.fontcabin8 {font-family: 'CabinBoldItalic', Arial, sans-serif;}





/* http://www.fontsquirrel.com/fonts/DejaVu-Sans */



@font-face {
    font-family: 'DejaVuSansBook';
    src: url('../fonts/DejaVuSans-webfont.eot');
    src: url('../fonts/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-webfont.svg#DejaVuSansBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansOblique';
    src: url('../fonts/DejaVuSans-Oblique-webfont.eot');
    src: url('../fonts/DejaVuSans-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-Oblique-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-Oblique-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-Oblique-webfont.svg#DejaVuSansOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansBold';
    src: url('../fonts/DejaVuSans-Bold-webfont.eot');
    src: url('../fonts/DejaVuSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-Bold-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-Bold-webfont.svg#DejaVuSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansBoldOblique';
    src: url('../fonts/DejaVuSans-BoldOblique-webfont.eot');
    src: url('../fonts/DejaVuSans-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-BoldOblique-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-BoldOblique-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-BoldOblique-webfont.svg#DejaVuSansBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansCondensed';
    src: url('../fonts/DejaVuSansCondensed-webfont.eot');
    src: url('../fonts/DejaVuSansCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansCondensed-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansCondensed-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansCondensed-webfont.svg#DejaVuSansCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansCondensedOblique';
    src: url('../fonts/DejaVuSansCondensed-Oblique-webfont.eot');
    src: url('../fonts/DejaVuSansCondensed-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansCondensed-Oblique-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansCondensed-Oblique-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansCondensed-Oblique-webfont.svg#DejaVuSansCondensedOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansCondensedBold';
    src: url('../fonts/DejaVuSansCondensed-Bold-webfont.eot');
    src: url('../fonts/DejaVuSansCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansCondensed-Bold-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansCondensed-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansCondensed-Bold-webfont.svg#DejaVuSansCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansCnBdOb';
    src: url('../fonts/DejaVuSansCondensed-BoldOblique-webfont.eot');
    src: url('../fonts/DejaVuSansCondensed-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansCondensed-BoldOblique-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansCondensed-BoldOblique-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansCondensed-BoldOblique-webfont.svg#DejaVuSansCnBdOb') format('svg');
    font-weight: normal;
    font-style: normal;

}

.fontdejavu {font-family: 'DejaVuSansBook', Arial, sans-serif;letter-spacing: 0;}

.fontdejavu1 {font-family: 'DejaVuSansBook', Arial, sans-serif;}
.fontdejavu2 {font-family: 'DejaVuSansOblique', Arial, sans-serif;}
.fontdejavu3 {font-family: 'DejaVuSansBold', Arial, sans-serif;}
.fontdejavu4 {font-family: 'DejaVuSansBoldOblique', Arial, sans-serif;}
.fontdejavu5 {font-family: 'DejaVuSansCondensed', Arial, sans-serif;}
.fontdejavu6 {font-family: 'DejaVuSansCondensedOblique', Arial, sans-serif;}
.fontdejavu7 {font-family: 'DejaVuSansCondensedBold', Arial, sans-serif;}
.fontdejavu8 {font-family: 'DejaVuSansCnBdOb', Arial, sans-serif;}
		






/* http://www.fontsquirrel.com/fonts/pt-serif */




@font-face {
    font-family: 'PTSerifRegular';
    src: url('../fonts/PTF55F-webfont.eot');
    src: url('../fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF55F-webfont.woff') format('woff'),
         url('../fonts/PTF55F-webfont.ttf') format('truetype'),
         url('../fonts/PTF55F-webfont.svg#PTSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifItalic';
    src: url('../fonts/PTF56F-webfont.eot');
    src: url('../fonts/PTF56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF56F-webfont.woff') format('woff'),
         url('../fonts/PTF56F-webfont.ttf') format('truetype'),
         url('../fonts/PTF56F-webfont.svg#PTSerifItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifBold';
    src: url('../fonts/PTF75F-webfont.eot');
    src: url('../fonts/PTF75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF75F-webfont.woff') format('woff'),
         url('../fonts/PTF75F-webfont.ttf') format('truetype'),
         url('../fonts/PTF75F-webfont.svg#PTSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifBoldItalic';
    src: url('../fonts/PTF76F-webfont.eot');
    src: url('../fonts/PTF76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF76F-webfont.woff') format('woff'),
         url('../fonts/PTF76F-webfont.ttf') format('truetype'),
         url('../fonts/PTF76F-webfont.svg#PTSerifBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifCaptionRegular';
    src: url('../fonts/PTZ55F-webfont.eot');
    src: url('../fonts/PTZ55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTZ55F-webfont.woff') format('woff'),
         url('../fonts/PTZ55F-webfont.ttf') format('truetype'),
         url('../fonts/PTZ55F-webfont.svg#PTSerifCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifCaptionItalic';
    src: url('../fonts/PTZ56F-webfont.eot');
    src: url('../fonts/PTZ56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTZ56F-webfont.woff') format('woff'),
         url('../fonts/PTZ56F-webfont.ttf') format('truetype'),
         url('../fonts/PTZ56F-webfont.svg#PTSerifCaptionItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}



.fontptserif {font-family: 'PTSerifCaptionRegular', Arial, sans-serif;letter-spacing: 0;}

.fontptserif1 {font-family: 'PTSerifRegular', Arial, sans-serif;}
.fontptserif2 {font-family: 'PTSerifItalic', Arial, sans-serif;}
.fontptserif3 {font-family: 'PTSerifBold', Arial, sans-serif;}
.fontptserif4 {font-family: 'PTSerifBoldItalic', Arial, sans-serif;}
.fontptserif5 {font-family: 'PTSerifCaptionRegular', Arial, sans-serif;}
.fontptserif6 {font-family: 'PTSerifCaptionItalic', Arial, sans-serif;}
		


		
/* http://www.fontsquirrel.com/fonts/Sansation */


@font-face {
    font-family: 'SansationRegular';
    src: url('../fonts/Sansation_Regular-webfont.eot');
    src: url('../fonts/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Regular-webfont.woff') format('woff'),
         url('../fonts/Sansation_Regular-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLight';
    src: url('../fonts/Sansation_Light-webfont.eot');
    src: url('../fonts/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Light-webfont.woff') format('woff'),
         url('../fonts/Sansation_Light-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Light-webfont.svg#SansationLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: url('../fonts/Sansation_Bold-webfont.eot');
    src: url('../fonts/Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Bold-webfont.woff') format('woff'),
         url('../fonts/Sansation_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Bold-webfont.svg#SansationBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLightLightItalic';
    src: url('../fonts/Sansation_Light_Italic-webfont.eot');
    src: url('../fonts/Sansation_Light_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Light_Italic-webfont.woff') format('woff'),
         url('../fonts/Sansation_Light_Italic-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Light_Italic-webfont.svg#SansationLightLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationItalic';
    src: url('../fonts/Sansation_Italic-webfont.eot');
    src: url('../fonts/Sansation_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Italic-webfont.woff') format('woff'),
         url('../fonts/Sansation_Italic-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Italic-webfont.svg#SansationItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBoldItalic';
    src: url('../fonts/Sansation_Bold_Italic-webfont.eot');
    src: url('../fonts/Sansation_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Bold_Italic-webfont.woff') format('woff'),
         url('../fonts/Sansation_Bold_Italic-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Bold_Italic-webfont.svg#SansationBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


.sansation {font-family: 'SansationRegular', Arial, sans-serif;letter-spacing: 0;}

.sansation1 {font-family: 'SansationRegular', Arial, sans-serif;}
.sansation2 {font-family: 'SansationLight', Arial, sans-serif;}
.sansation3 {font-family: 'SansationBold', Arial, sans-serif;}
.sansation4 {font-family: 'SansationLightLightItalic', Arial, sans-serif;}
.sansation5 {font-family: 'SansationItalic', Arial, sans-serif;}
.sansation6 {font-family: 'SansationBoldItalic', Arial, sans-serif;}


/* http://www.fontsquirrel.com/fonts/inder */
/* http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax */

@font-face {
    font-family: 'InderRegular';
    src: url('../fonts/Inder-Regular-webfont.eot');
    src: url('../fonts/Inder-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Inder-Regular-webfont.woff') format('woff'),
         url('../fonts/Inder-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Inder-Regular-webfont.svg#InderRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fontinder {font-family: 'InderRegular', Arial, sans-serif;letter-spacing: 0;}
.fontinder {font-family: 'InderRegular', Arial, sans-serif;}



/* http://www.fontsquirrel.com/fonts/armata */

@font-face {
    font-family: 'ArmataRegular';
    src: url('../fonts/Armata-Regular-webfont.eot');
    src: url('../fonts/Armata-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Armata-Regular-webfont.woff') format('woff'),
         url('../fonts/Armata-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Armata-Regular-webfont.svg#ArmataRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.fontarmata {font-family: 'ArmataRegular', Arial, sans-serif;letter-spacing: 0;}

.fontarmata {font-family: 'ArmataRegular', Arial, sans-serif;}
		




