/* fonts.css */



/* http://www.fontsquirrel.com/fonts/pt-serif */




@font-face {
    font-family: 'PTSerifRegular';
    src: url('../fonts/PTF55F-webfont.eot');
    src: url('../fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF55F-webfont.woff') format('woff'),
         url('../fonts/PTF55F-webfont.ttf') format('truetype'),
         url('../fonts/PTF55F-webfont.svg#PTSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifItalic';
    src: url('../fonts/PTF56F-webfont.eot');
    src: url('../fonts/PTF56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF56F-webfont.woff') format('woff'),
         url('../fonts/PTF56F-webfont.ttf') format('truetype'),
         url('../fonts/PTF56F-webfont.svg#PTSerifItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifBold';
    src: url('../fonts/PTF75F-webfont.eot');
    src: url('../fonts/PTF75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF75F-webfont.woff') format('woff'),
         url('../fonts/PTF75F-webfont.ttf') format('truetype'),
         url('../fonts/PTF75F-webfont.svg#PTSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifBoldItalic';
    src: url('../fonts/PTF76F-webfont.eot');
    src: url('../fonts/PTF76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF76F-webfont.woff') format('woff'),
         url('../fonts/PTF76F-webfont.ttf') format('truetype'),
         url('../fonts/PTF76F-webfont.svg#PTSerifBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifCaptionRegular';
    src: url('../fonts/PTZ55F-webfont.eot');
    src: url('../fonts/PTZ55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTZ55F-webfont.woff') format('woff'),
         url('../fonts/PTZ55F-webfont.ttf') format('truetype'),
         url('../fonts/PTZ55F-webfont.svg#PTSerifCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifCaptionItalic';
    src: url('../fonts/PTZ56F-webfont.eot');
    src: url('../fonts/PTZ56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTZ56F-webfont.woff') format('woff'),
         url('../fonts/PTZ56F-webfont.ttf') format('truetype'),
         url('../fonts/PTZ56F-webfont.svg#PTSerifCaptionItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}



.fontptserif {font-family: 'PTSerifCaptionRegular', Arial, sans-serif;letter-spacing: 0;}

.fontptserif1 {font-family: 'PTSerifRegular', Arial, sans-serif;}
.fontptserif2 {font-family: 'PTSerifItalic', Arial, sans-serif;}
.fontptserif3 {font-family: 'PTSerifBold', Arial, sans-serif;}
.fontptserif4 {font-family: 'PTSerifBoldItalic', Arial, sans-serif;}
.fontptserif5 {font-family: 'PTSerifCaptionRegular', Arial, sans-serif;}
.fontptserif6 {font-family: 'PTSerifCaptionItalic', Arial, sans-serif;}
		



/* http://www.fontsquirrel.com/fonts/armata */

@font-face {
    font-family: 'ArmataRegular';
    src: url('../fonts/Armata-Regular-webfont.eot');
    src: url('../fonts/Armata-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Armata-Regular-webfont.woff') format('woff'),
         url('../fonts/Armata-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Armata-Regular-webfont.svg#ArmataRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.fontarmata {font-family: 'ArmataRegular', Arial, sans-serif;letter-spacing: 0;}

.fontarmata {font-family: 'ArmataRegular', Arial, sans-serif;}
		

/* http://www.fontsquirrel.com/fonts/Liberation-Serif */



@font-face {
    font-family: 'LiberationSerifRegular';
    src: url('../fonts/LiberationSerif-Regular-webfont.eot');
    src: url('../fonts/LiberationSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LiberationSerif-Regular-webfont.woff') format('woff'),
         url('../fonts/LiberationSerif-Regular-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSerif-Regular-webfont.svg#LiberationSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LiberationSerifItalic';
    src: url('../fonts/LiberationSerif-Italic-webfont.eot');
    src: url('../fonts/LiberationSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LiberationSerif-Italic-webfont.woff') format('woff'),
         url('../fonts/LiberationSerif-Italic-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSerif-Italic-webfont.svg#LiberationSerifItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LiberationSerifBold';
    src: url('../fonts/LiberationSerif-Bold-webfont.eot');
    src: url('../fonts/LiberationSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LiberationSerif-Bold-webfont.woff') format('woff'),
         url('../fonts/LiberationSerif-Bold-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSerif-Bold-webfont.svg#LiberationSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LiberationSerifBoldItalic';
    src: url('../fonts/LiberationSerif-BoldItalic-webfont.eot');
    src: url('../fonts/LiberationSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LiberationSerif-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/LiberationSerif-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSerif-BoldItalic-webfont.svg#LiberationSerifBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


.fontliber {font-family: 'LiberationSerifRegular', Arial, sans-serif;}

