/* fonts.css */


/* http://www.fontsquirrel.com/fonts/Roman-Caps */
@font-face {
    font-family: 'RomanCapsRegular';
    src: url('../fonts/Roman_SD-webfont.eot');
    src: url('../fonts/Roman_SD-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roman_SD-webfont.woff') format('woff'),
         url('../fonts/Roman_SD-webfont.ttf') format('truetype'),
         url('../fonts/Roman_SD-webfont.svg#RomanCapsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1.fontroman {font: 60px/68px 'RomanCapsRegular', Arial, sans-serif;letter-spacing: 0;}

p.fontroman {font: 18px/27px 'RomanCapsRegular', Arial, sans-serif;}



/* http://www.fontsquirrel.com/fonts/cabin */


@font-face {
    font-family: 'CabinRegular';
    src: url('../fonts/Cabin-Regular-webfont.eot');
    src: url('../fonts/Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-Regular-webfont.woff') format('woff'),
         url('../fonts/Cabin-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-Regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinItalic';
    src: url('../fonts/Cabin-Italic-webfont.eot');
    src: url('../fonts/Cabin-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-Italic-webfont.woff') format('woff'),
         url('../fonts/Cabin-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-Italic-webfont.svg#CabinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMedium';
    src: url('../fonts/Cabin-Medium-webfont.eot');
    src: url('../fonts/Cabin-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-Medium-webfont.woff') format('woff'),
         url('../fonts/Cabin-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-Medium-webfont.svg#CabinMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMediumItalic';
    src: url('../fonts/Cabin-MediumItalic-webfont.eot');
    src: url('../fonts/Cabin-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-MediumItalic-webfont.woff') format('woff'),
         url('../fonts/Cabin-MediumItalic-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-MediumItalic-webfont.svg#CabinMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBold';
    src: url('../fonts/Cabin-SemiBold-webfont.eot');
    src: url('../fonts/Cabin-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-SemiBold-webfont.woff') format('woff'),
         url('../fonts/Cabin-SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-SemiBold-webfont.svg#CabinSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBoldItalic';
    src: url('../fonts/Cabin-SemiBoldItalic-webfont.eot');
    src: url('../fonts/Cabin-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-SemiBoldItalic-webfont.woff') format('woff'),
         url('../fonts/Cabin-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-SemiBoldItalic-webfont.svg#CabinSemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBold';
    src: url('../fonts/Cabin-Bold-webfont.eot');
    src: url('../fonts/Cabin-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-Bold-webfont.woff') format('woff'),
         url('../fonts/Cabin-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-Bold-webfont.svg#CabinBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBoldItalic';
    src: url('../fonts/Cabin-BoldItalic-webfont.eot');
    src: url('../fonts/Cabin-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Cabin-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-BoldItalic-webfont.svg#CabinBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1.fontcabin {font: 60px/68px 'CabinRegular', Arial, sans-serif;letter-spacing: 0;}

p.fontcabin1 {font: 18px/27px 'CabinRegular', Arial, sans-serif;}
p.fontcabin2 {font: 18px/27px 'CabinItalic', Arial, sans-serif;}
p.fontcabin3 {font: 18px/27px 'CabinMedium', Arial, sans-serif;}
p.fontcabin4 {font: 18px/27px 'CabinMediumItalic', Arial, sans-serif;}
p.fontcabin5 {font: 18px/27px 'CabinSemiBold', Arial, sans-serif;}
p.fontcabin6 {font: 18px/27px 'CabinSemiBoldItalic', Arial, sans-serif;}
p.fontcabin7 {font: 18px/27px 'CabinBold', Arial, sans-serif;}
p.fontcabin8 {font: 18px/27px 'CabinBoldItalic', Arial, sans-serif;}





/* http://www.fontsquirrel.com/fonts/DejaVu-Sans */



@font-face {
    font-family: 'DejaVuSansBook';
    src: url('../fonts/DejaVuSans-webfont.eot');
    src: url('../fonts/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-webfont.svg#DejaVuSansBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansOblique';
    src: url('../fonts/DejaVuSans-Oblique-webfont.eot');
    src: url('../fonts/DejaVuSans-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-Oblique-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-Oblique-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-Oblique-webfont.svg#DejaVuSansOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansBold';
    src: url('../fonts/DejaVuSans-Bold-webfont.eot');
    src: url('../fonts/DejaVuSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-Bold-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-Bold-webfont.svg#DejaVuSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansBoldOblique';
    src: url('../fonts/DejaVuSans-BoldOblique-webfont.eot');
    src: url('../fonts/DejaVuSans-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-BoldOblique-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-BoldOblique-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-BoldOblique-webfont.svg#DejaVuSansBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansCondensed';
    src: url('../fonts/DejaVuSansCondensed-webfont.eot');
    src: url('../fonts/DejaVuSansCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansCondensed-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansCondensed-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansCondensed-webfont.svg#DejaVuSansCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansCondensedOblique';
    src: url('../fonts/DejaVuSansCondensed-Oblique-webfont.eot');
    src: url('../fonts/DejaVuSansCondensed-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansCondensed-Oblique-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansCondensed-Oblique-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansCondensed-Oblique-webfont.svg#DejaVuSansCondensedOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansCondensedBold';
    src: url('../fonts/DejaVuSansCondensed-Bold-webfont.eot');
    src: url('../fonts/DejaVuSansCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansCondensed-Bold-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansCondensed-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansCondensed-Bold-webfont.svg#DejaVuSansCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansCnBdOb';
    src: url('../fonts/DejaVuSansCondensed-BoldOblique-webfont.eot');
    src: url('../fonts/DejaVuSansCondensed-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansCondensed-BoldOblique-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansCondensed-BoldOblique-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansCondensed-BoldOblique-webfont.svg#DejaVuSansCnBdOb') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1.fontdejavu {font: 60px/68px 'DejaVuSansBook', Arial, sans-serif;letter-spacing: 0;}

p.fontdejavu1 {font: 18px/27px 'DejaVuSansBook', Arial, sans-serif;}
p.fontdejavu2 {font: 18px/27px 'DejaVuSansOblique', Arial, sans-serif;}
p.fontdejavu3 {font: 18px/27px 'DejaVuSansBold', Arial, sans-serif;}
p.fontdejavu4 {font: 18px/27px 'DejaVuSansBoldOblique', Arial, sans-serif;}
p.fontdejavu5 {font: 18px/27px 'DejaVuSansCondensed', Arial, sans-serif;}
p.fontdejavu6 {font: 18px/27px 'DejaVuSansCondensedOblique', Arial, sans-serif;}
p.fontdejavu7 {font: 18px/27px 'DejaVuSansCondensedBold', Arial, sans-serif;}
p.fontdejavu8 {font: 18px/27px 'DejaVuSansCnBdOb', Arial, sans-serif;}
		






/* http://www.fontsquirrel.com/fonts/pt-serif */




@font-face {
    font-family: 'PTSerifRegular';
    src: url('../fonts/PTF55F-webfont.eot');
    src: url('../fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF55F-webfont.woff') format('woff'),
         url('../fonts/PTF55F-webfont.ttf') format('truetype'),
         url('../fonts/PTF55F-webfont.svg#PTSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifItalic';
    src: url('../fonts/PTF56F-webfont.eot');
    src: url('../fonts/PTF56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF56F-webfont.woff') format('woff'),
         url('../fonts/PTF56F-webfont.ttf') format('truetype'),
         url('../fonts/PTF56F-webfont.svg#PTSerifItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifBold';
    src: url('../fonts/PTF75F-webfont.eot');
    src: url('../fonts/PTF75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF75F-webfont.woff') format('woff'),
         url('../fonts/PTF75F-webfont.ttf') format('truetype'),
         url('../fonts/PTF75F-webfont.svg#PTSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifBoldItalic';
    src: url('../fonts/PTF76F-webfont.eot');
    src: url('../fonts/PTF76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF76F-webfont.woff') format('woff'),
         url('../fonts/PTF76F-webfont.ttf') format('truetype'),
         url('../fonts/PTF76F-webfont.svg#PTSerifBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifCaptionRegular';
    src: url('../fonts/PTZ55F-webfont.eot');
    src: url('../fonts/PTZ55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTZ55F-webfont.woff') format('woff'),
         url('../fonts/PTZ55F-webfont.ttf') format('truetype'),
         url('../fonts/PTZ55F-webfont.svg#PTSerifCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifCaptionItalic';
    src: url('../fonts/PTZ56F-webfont.eot');
    src: url('../fonts/PTZ56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTZ56F-webfont.woff') format('woff'),
         url('../fonts/PTZ56F-webfont.ttf') format('truetype'),
         url('../fonts/PTZ56F-webfont.svg#PTSerifCaptionItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}



h1.fontptserif {font: 60px/68px 'PTSerifCaptionRegular', Arial, sans-serif;letter-spacing: 0;}

p.fontptserif1 {font: 18px/27px 'PTSerifRegular', Arial, sans-serif;}
p.fontptserif2 {font: 18px/27px 'PTSerifItalic', Arial, sans-serif;}
p.fontptserif3 {font: 18px/27px 'PTSerifBold', Arial, sans-serif;}
p.fontptserif4 {font: 18px/27px 'PTSerifBoldItalic', Arial, sans-serif;}
p.fontptserif5 {font: 18px/27px 'PTSerifCaptionRegular', Arial, sans-serif;}
p.fontptserif6 {font: 18px/27px 'PTSerifCaptionItalic', Arial, sans-serif;}
		


		
/* http://www.fontsquirrel.com/fonts/Sansation */


@font-face {
    font-family: 'SansationRegular';
    src: url('../fonts/Sansation_Regular-webfont.eot');
    src: url('../fonts/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Regular-webfont.woff') format('woff'),
         url('../fonts/Sansation_Regular-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLight';
    src: url('../fonts/Sansation_Light-webfont.eot');
    src: url('../fonts/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Light-webfont.woff') format('woff'),
         url('../fonts/Sansation_Light-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Light-webfont.svg#SansationLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: url('../fonts/Sansation_Bold-webfont.eot');
    src: url('../fonts/Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Bold-webfont.woff') format('woff'),
         url('../fonts/Sansation_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Bold-webfont.svg#SansationBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLightLightItalic';
    src: url('../fonts/Sansation_Light_Italic-webfont.eot');
    src: url('../fonts/Sansation_Light_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Light_Italic-webfont.woff') format('woff'),
         url('../fonts/Sansation_Light_Italic-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Light_Italic-webfont.svg#SansationLightLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationItalic';
    src: url('../fonts/Sansation_Italic-webfont.eot');
    src: url('../fonts/Sansation_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Italic-webfont.woff') format('woff'),
         url('../fonts/Sansation_Italic-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Italic-webfont.svg#SansationItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBoldItalic';
    src: url('../fonts/Sansation_Bold_Italic-webfont.eot');
    src: url('../fonts/Sansation_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Bold_Italic-webfont.woff') format('woff'),
         url('../fonts/Sansation_Bold_Italic-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Bold_Italic-webfont.svg#SansationBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1.sansation {font: 60px/68px 'SansationRegular', Arial, sans-serif;letter-spacing: 0;}

p.sansation1 {font: 18px/27px 'SansationRegular', Arial, sans-serif;}
p.sansation2 {font: 18px/27px 'SansationLight', Arial, sans-serif;}
p.sansation3 {font: 18px/27px 'SansationBold', Arial, sans-serif;}
p.sansation4 {font: 18px/27px 'SansationLightLightItalic', Arial, sans-serif;}
p.sansation5 {font: 18px/27px 'SansationItalic', Arial, sans-serif;}
p.sansation6 {font: 18px/27px 'SansationBoldItalic', Arial, sans-serif;}


