/* main.css
http://kuler.adobe.com/#themeID/1684351
260511 dark violet
1B322F grey green
5E4F00 mustard
0070AE light blue
CDDE66 light yellow
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

html {
	height: 100%;
	background-color: #0070AE;
}

body {
	color: #121212;
	min-height: 100%;
	height: 100%;
	width: 50em;
	background-color: #F4F3F2;
	margin-left: -25em;
	left: 50%;
	position: relative;
}
article, section {
	width: 100%;
	padding: 2em;
}

a {
	color: #5E4F00;
	text-decoration: none;
}
a:hover {
	color: #1B322F;
	text-decoration: underline;
}
input, select {
	vertical-align: middle;
}
ul, ol {
	list-style-position: inside;
}
ul {
	list-style-type: square;
}

nav {
	position: absolute;
	font-variant: small-caps;
}

nav ul {
	list-style: none;
}
nav li {
	width: 16em;
	height: 2em;
}
nav a {
	background-color: black;
	color: white;
	width: 100%;
	height: 100%;
	padding: 0.2em;
	display: block;
	text-align: center;
}
nav a:hover {
	background-color: white;
	color: black;
	text-decoration: none;
}

header {
	text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	color: #260511;
}





