/***************
 * NAGINATA.fi *
 ***************
 * Juga Paazmaya <olavic@gmail.com>
 * License: Attribution-ShareAlike 4.0 Unported
 *          http://creativecommons.org/licenses/by-sa/4.0/
 */

.full-width {
  min-width: 200px;
  width: 100%;
}
.centered {
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  max-width: 1000px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
@media (min-width: 480px) {
  .centered {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.relative {
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #121212;
  box-sizing: border-box;
}
article,
footer,
header,
nav {
  display: block;
}
html,
body {
  width: 100%;
  min-width: 100%;
  background-color: white;
  font-size: 100%;
}
header,
article {
  font-family: 'Lora', Verdana, sans-serif;
  line-height: 1.5;
}
html[lang="ja"],
html[lang="ja"] nav,
html[lang="ja"] footer {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
p {
  margin: 1em 0;
}
a {
  color: #121212;
  text-decoration: none;
}
a:hover {
  color: #4b5535;
}
a:active,
a:focus {
  color: #0f4e70;
}
li {
  padding: 0.3em 0;
}
nav,
footer {
  font-variant: small-caps;
  font-family: 'Inder', Verdana, sans-serif;
  border-top: 1px solid #072434;
  border-bottom: 1px solid #072434;
  color: #072434;
  display: block;
  margin-bottom: 1em;
}

footer p,
#languages {
  display: block;
}

nav ul,
footer p {
  height: 100%;
}
nav ul {
  display: block;
  width: 100%;
}
nav ul,
footer p,
#languages {
  margin: 0;
  list-style: none;
  text-align: center;
  color: #072434;
}
nav li {
  width: 49%;
  height: 1.5em;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}
@media (min-width: 480px) {
  nav {
    height: 1.6em;
  }
  nav ul {
    display: table;
  }
  nav li {
    display: table-cell;
    width: 20%;
  }
}

nav a,
footer a,
.current a:hover {
  background-color: transparent;
  color: #072434;
  text-align: center;
  height: 1.5em;
}
.current a:hover {
  background-color: #0f4e70;
  color: #dfe0e4;
}
footer {
  margin-top: 1em;
  height: 1.6em;
}
footer a {
  padding: 0 1.5em;
  display: inline-block;
}
nav a {
  width: 100%;
  display: block;
}
nav a:hover,
footer a:hover,
.current a {
  background-color: #072434;
  color: #dfe0e4;
  text-decoration: none;
}
nav a:focus,
footer a:focus,
nav a:active,
footer a:active {
  background-color: #0f4e70;
  color: #dfe0e4;
}
h1,
h2,
h3 {
  color: #072434;
  font-family: 'Inder', Verdana, sans-serif;
  width: 100%;
}
h1 {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  clear: both;
}
h3 {
  margin-top: 1.2em;
  font-size: 1.2em;
}

/* Heading area for the given page */
header h1 {
  width: 100%;
}
header p {
  float: none;
  text-align: left;
  width: 100%;
  margin-top: 0;
}
article ul,
article ol {
  list-style-position: outside;
  padding-left: 2em;
  display: inline-block;
}
article ul {
  list-style-type: disc;
}
article ol {
  list-style-type: decimal;
}
article a {
  color: #072434;
  text-decoration: underline;
}
article a:hover,
article a:focus {
  color: white;
  background-color: #072434;
  text-decoration: none;
  transition: background-color 0.1s linear;
}
blockquote {
  padding: 0.3em 1em;
  color: white;
  background-color: #072434;
}
blockquote p {
  color: white;
}
/* paragraph containing a link that contains image(s) */

p > a:only-child > img:only-of-type {
  display: block;
  border: 0.2em solid #072434;
  padding: 0.6em;
  margin: 2em auto;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  width: 280px;
  color: #072434;
}
p > a:only-child > img:only-of-type:hover {
  background-color: #072434;
  transition: background-color 0.1s linear;
}

@media (min-width: 480px) {
  p > a:only-child > img:only-of-type {
    float: left;
    margin: 2em;
    margin-left: 0;
  }
}

@media (min-width: 480px) {
}

#languages {
  position: absolute;
  top: 0;
  right: 1em;
  font-size: 90%;
  font-family: 'Inder', Verdana, sans-serif;
}
#languages li {
  padding: 0.2em;
  background: #072434;
  border-radius: 0 0 14px 14px;
  float: left;
}
#languages a {
  display: block;
  padding: 0.3em 0.5em;
  color: #dfe0e4;
  text-decoration: none;
  line-height: 1.4;
}
#languages a:hover,
#languages a:focus {
  background: white;
  color: #072434;
  border-radius: 0 0 10px 10px;
}
#logo {
  display: table;
  position: relative;
  height: 220px;
  width: 100%;
  background-image: url('/img/logo.png');
  background-size: 132px 132px;
  background-position: center 2.5em;
  background-repeat: no-repeat;
}
#logo > p {
  display: table-cell;
  vertical-align: bottom;
  margin: 0;
  width: auto;
  font-size: 200%;
  text-align: center;
  line-height: 100%;
  /*font-variant: small-caps;*/
  padding: 0;
  padding-bottom: 0.5em;
  color: #072434;
  font-family: 'Inder', Verdana, sans-serif;
}

@media (min-width: 480px) {
  #logo {
    height: 180px;
    background-position: 1em center;
  }
  #logo > p {
    vertical-align: middle;
    font-size: 350%;
    padding-left: 140px; /* 132px + 0.5em */
    padding-bottom: 0;
  }
}

/* Image area notes */

.note {
  background-color: transparent;
  position: absolute;
  text-align: center;
}
.note:hover .notetext,
.note:focus .notetext,
.notehover .notetext {
  display: inline;
}
.note:hover .notearea,
.note:focus .notearea,
.notehover .notearea {
  opacity: 1.0;
  border: 2px solid #072434;
  background-color: rgba(0, 0, 0, 0.3);
}
.notearea {
  opacity: 0.3;
  border: 1px solid #072434;
  border-radius: 0.6em;
  background-color: rgba(255, 255, 255, 0.1);
  /* transparent would work in all other except IE */
  display: block;
}
.notetext {
  color: #072434;
  border-radius: 0.4em;
  border: 2px solid #072434;
  background-color: white;
  display: none;
  padding: 0.3em 0.5em;
  text-align: center;
}
