/* main.css
http://kuler.adobe.com/#themeID/1684351
260511 dark violet
1B322F grey green
5E4F00 mustard
0070AE light blue
CDDE66 light yellow
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

html {
	height: 100%;
}

body {
	background-color: #0070AE;
	color: #121212;
	min-height: 100%;
	height: 100%;
}
article {
	width: 80%;
	background-color: #F4F3F2;
	min-height: 100%;
	margin-left: 10%;
}

a {
	color: #5E4F00;
}
a:hover {
	color: #1B322F;
}
input, select {
	vertical-align: middle;
}
ul, ol {
	list-style-position: inside;
}
ul {
	list-style-type: square;
}


nav ul {
	list-style: none;
}


header {
	padding: 30px 0;
	text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	color: #260511;
}





