/***************
 * NAGINATA.fi *
 ***************
 * Juga Paazmaya <olavic@gmail.com>
 * License: Attribution-ShareAlike 3.0 Unported
 *          http://creativecommons.org/licenses/by-sa/3.0/
 */

.full-width {
    min-width: 390px;
    width: 100%;
}
.centered {
    margin-left: auto;
    margin-right: auto;
    min-width: 390px;
    max-width: 1000px;
    padding-left: 1em;
    padding-right: 1em;
}
.relative {
    position: relative;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #121212;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article,
footer,
header,
nav {
    display: block;
}
html,
body {
    width: 100%;
    min-width: 100%;
    background-color: white;
}
header,
article {
    padding: 1em 0;
    font-family: 'Lora', Verdana, sans-serif;
    line-height: 1.5;
}
html[lang="ja"] {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
p {
    margin: 1em 0.5em;
}
a {
    color: #1a1a18;
    text-decoration: none;
}
a:hover {
    color: #4b5535;
}
a:active,
a:focus {
    color: #072491;
}
li {
    padding: 0.3em 0;
}
nav,
footer {
    font-variant: small-caps;
    font-family: 'Inder', Verdana, sans-serif;
    border-top: 0.1em solid #072434;
    border-bottom: 0.1em solid #072434;
    height: 1.6em;
    color: #072434;
    display: block;
    margin-bottom: 1em;
}

footer p,
#languages {
    display: block;
}

nav ul,
footer p {
    height: 100%;
}
nav ul {
  display: table;
  width: 100%;
}
nav ul,
footer p,
#languages {
    margin: 0;
    list-style: none;
    text-align: center;
    color: #072434;
}
nav li {
    width: 20%;
    height: 1.5em;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
}
nav a,
footer a,
.current a:hover {
    background-color: transparent;
    color: #072434;
    text-align: center;
    height: 1.5em;
}
footer a {
    padding: 0 1.5em;
    display: inline-block;
}
nav a {
    width: 100%;
    display: block;
}
nav a:hover,
footer a:hover,
.current a {
    background-color: #072434;
    color: #dfe0e4;
    text-decoration: none;
}
nav a:focus,
footer a:focus,
nav a:active,
footer a:active {
    background-color: #072491;
    color: #dfe0e4;
}
h1,
h2,
h3 {
    color: #072434;
    font-family: 'Inder', Verdana, sans-serif;
    width: 100%;
}
h1 {
    font-size: 2em;
    width: 60%;
}
h2 {
    font-size: 1.5em;
    margin-top: 1.4em;
    margin-bottom: 0.7em;
    clear: both;
}
h3 {
    margin-top: 1.2em;
    font-size: 1.2em;
}
header p {
    font-family: 'Inder', Verdana, sans-serif;
    text-align: right;
    margin-top: -2em;
    float: right;
    width: 40%;
}
.desc-transform {
    -webkit-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transform-origin: 25% 25%;
    -ms-transform-origin: 25% 25%;
    transform-origin: 25% 25%;
    -webkit-transform: perspective(600px) rotateY(-8deg) rotateX(-8deg);
    -ms-transform: perspective(600px) rotateY(-8deg) rotateX(-8deg);
    transform: perspective(600px) rotateY(-8deg) rotateX(-8deg);
}
article ul,
article ol {
    list-style-position: outside;
    padding-left: 2em;
    display: inline-block;
}
article ul {
    list-style-type: disc;
}
article ol {
    list-style-type: decimal;
}
article a {
    color: #072434;
    text-decoration: underline;
}
article a:hover,
article a:focus {
    color: white;
    background-color: #072434;
    text-decoration: none;
    -webkit-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}
blockquote {
    padding: 0.3em;
    color: white;
    background-color: #072434;
}
blockquote p {
    color: white;
}
/* paragraph containing a link that contains image(s) */

p > a:only-child > img:only-of-type {
    display: block;
    border: 0.2em solid #072434;
    padding: 0.6em;
    margin: 2em;
    text-align: center;
    float: left;
    font-size: 0.8em;
    font-weight: bold;
    width: 280px;
    color: #072434;
}
p > a:only-child > img:only-of-type:hover {
    background-color: #072434;
    -webkit-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}
/* Colorbox background overlay */

#cboxOverlay {
    background: #072434;
    opacity: 0.3;
}
#cboxTitle {
    font-family: 'Inder', Verdana, sans-serif;
    top: -25px;
    left: 4px;
}
/* first list in media page is Flickr grid */

article.media ul:first-of-type {
    width: 100%;
    list-style-type: none;
}
article.media ul:first-of-type > li {
    float: left;
    padding: 0;
    margin: 0;
    line-height: 0;
}
article.media ul:first-of-type > li > a {
    padding: 0.4em;
    display: block;
}
article.media ul:first-of-type > li > a:hover img {
    opacity: 0.5;
}
article.media ul:first-of-type > li > a > img {
    width: 75px;
    height: 75px;
}
/* second list is for the videos */

article.media ul:last-of-type {
    display: block;
    width: 100%;
    list-style-type: none;
}
article.media ul:last-of-type li {
    display: block;
    width: 100%;
}
article.media ul:last-of-type a {
    padding: 0.4em;
    padding-left: 50px;
    display: block;
    position: relative;
}
article.media ul:last-of-type a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 28px 28px;
    width: 28px;
    height: 100%;
}
article.media ul:last-of-type a:hover::before {
    opacity: 0.5;
}
article.media ul:last-of-type a[href*="youtube.com"]::before {
    background-image: url('../img/youtube_28.png');
}
article.media ul:last-of-type a[href*="vimeo.com"]::before {
    background-image: url('../img/vimeo_28.png');
}
article.media ul:last-of-type a[href*="flickr.com"]::before {
    background-image: url('../img/flickr_28.png');
}
#languages {
    position: absolute;
    top: 0;
    right: 2em;
    font-size: 90%;
    border: 1px solid #072434;
    border-top: 0px;
    border-radius: 0 0 14px 14px;
    background: #072434;
    padding: 0.2em;
    font-family: 'Inder', Verdana, sans-serif;
}
#languages li {
    padding: 0;
}
#languages a {
    display: block;
    padding: 0.3em 0.5em;
    color: #dfe0e4;
    text-decoration: none;
}
#languages a:hover,
#languages a:focus {
    background: snow;
    color: #072434;
}
#languages li:last-of-type a {
    border-radius: 0 0 10px 10px;
}
#logo {
    display: table;
    position: relative;
    height: 180px;
    width: 100%;
    background-image: url(../img/logo.png);
    background-size: 132px 132px;
    background-position: 1em center;
    background-repeat: no-repeat;
}
#logo > p {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    width: auto;
    text-align: center;
    font-size: 350%;
    line-height: 100%;
    /*font-variant: small-caps;*/
    padding: 0;
    padding-left: 132px;
    color: #072434;
    font-family: 'Inder', Verdana, sans-serif;
}

/* Image area notes */

.note {
    background-color: transparent;
    position: absolute;
    text-align: center;
}
.note:hover .notetext,
.note:focus .notetext,
.notehover .notetext {
    display: inline;
}
.note:hover .notearea,
.note:focus .notearea,
.notehover .notearea {
    opacity: 1.0;
    border: 2px solid #072434;
    background-color: rgba(0, 0, 0, 0.3);
}
.notearea {
    opacity: 0.3;
    border: 1px solid #072434;
    border-radius: 0.6em;
    background-color: rgba(255, 255, 255, 0.1);
    /* transparent would work in all other except IE */
    display: block;
}
.notetext {
    color: #072434;
    border-radius: 0.4em;
    border: 2px solid #072434;
    background-color: #fefefe;
    display: none;
    padding: 0.3em 0.5em;
    text-align: center;
}