naginata-config.json
naginata-curl.log
naginata-minify.log
naginata-openid.log
naginata-php.log
naginata-redirect.log
public_html/css/*.min.css
public_html/img/pngcrush.exe
public_html/js/*.min.js
session-checker.log
stuff/*
