<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <title>{{ meta.title }} | {{ meta.titlesuffix }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="{{ meta.description }}" name="description">
    <meta content="{{ meta.titlesuffix }}" name="application-name">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/img/favicon.png">
    <meta name="mobile-web-app-capable" value="yes">
    <link rel="apple-touch-icon" href="/icons/icon-180x180.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/icons/icon-196x196.png">
    <link rel="icon" type="image/png" sizes="228x228" href="/icons/icon-228x228.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/icons/icon-160x160.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/icon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/icon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/icon-96x96.png">
    <meta name="msapplication-square150x150logo" content="/icons/icon-150x150.png">
    <meta name="msapplication-square310x310logo" content="/icons/icon-310x310.png">
    <meta name="msapplication-square70x70logo" content="/icons/icon-70x70.png">
    <meta name="msapplication-TileColor" content="#072434">
    <meta name="msapplication-square150x150logo" content="/icons/icon-150x150.png">
    <meta name="theme-color" content="#072434">
    <meta content="GhbeYQk917osZVX5lGXYSq4ACIiJw2Pk1NLBfRe4OfI" name="google-site-verification">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inder|Lora&amp;subset=latin-ext,latin">
    <link href="http://creativecommons.org/licenses/by-sa/4.0/" rel="license">
    <link href="https://paazmaya.fi" rel="author">
    <link media="all" type="text/css" href="/css/naginata.min.css" rel="stylesheet">

    {% for image in prefetch %}
      <link rel="prefetch" href="{{ image }}">
    {% endfor %}

    {% if meta.facebook %}
      {% for fb in meta.facebook %}
        <meta property="{{ fb.property }}" content="{{ fb.content }}">
      {% endfor %}
    {% endif %}

    {% for flip in flipahead %}
      <link rel="{{ flip.rel }}" href="{{ flip.url }}">
    {% endfor %}
  </head>
  <body>
    <div id="logo" class="centered">
      <ul id="languages">
        {% for language in languages %}
          {% if loop.key !== lang %}
            <li>
              <a title="{{ language.name }}" hreflang="{{ loop.key }}"
                href="{% if language.url %}{{ language.url }}{% else %}/{{ loop.key }}{% endif %}">{{ language.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <p role="banner">{{ meta.titlesuffix }}</p>
    </div>
    <nav class="full-width">
      <ul role="navigation" class="centered">
        {% for page in pages %}
        <li{% if page.url == meta.url %} class="current"{% endif %}>
          <a title="{{ page.header }}" href="{{ page.url }}">{{ page.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="centered">
      <header role="contentinfo">
        <h1 title="{{ meta.description }}">{{ meta.header }}</h1>
      </header>
      <article role="main" class="{{ meta.view|lower }}">

        {{ content|safe }}

      </article>
    </div>
    <footer class="full-width">
      <p class="centered">
        {% for footer in footers %}
        <a title="{{ footer.alt }}" href="{{ footer.url }}">{{ footer.text|safe }}</a>
        {% endfor %}
      </p>
    </footer>
    <script src="/js/naginata.min.js"></script>
  </body>
</html>
