<!DOCTYPE html>
<html lang="{{ settings.lang }}">
  <head>
    <title>{{ meta.title }} | {{ meta.titlesuffix }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="{{ meta.description }}" name="description">
    <meta content="{{ meta.titlesuffix }}" name="application-name">

    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png">
    <link rel="icon" sizes="196x196" href="/icons/homescreen-196x196.png">
    <link rel="icon" sizes="228x228" href="/icons/coast-icon-228x228.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/icons/favicon-160x160.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/icons/favicon-196x196.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta name="mobile-web-app-capable" value="yes">
    <meta name="msapplication-TileColor" content="#072434">
    <meta name="msapplication-TileImage" content="/icons/windows-tile-144x144.png">
    <meta name="msapplication-square150x150logo" content="/icons/windows-tile-150x150.png">
    <meta name="msapplication-square310x310logo" content="/icons/windows-tile-310x310.png">
    <meta name="msapplication-square70x70logo" content="/icons/windows-tile-70x70.png">
    <meta content="GhbeYQk917osZVX5lGXYSq4ACIiJw2Pk1NLBfRe4OfI" name="google-site-verification">

    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inder|Lora&amp;subset=latin-ext,latin">
    <link href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">
    <link href="http://paazmaya.com" rel="author">
    <link media="all" type="text/css" href="/css/naginata.min.css" rel="stylesheet">

    <script type='text/javascript'>
    {{ nrheader|safe }}
    </script>

    {% for image in prefetch %}
      <link rel="prefetch" href="{{ image }}">
    {% endfor %}

    {% if meta.facebook %}
      {% for fb in meta.facebook %}
        <meta property="{{ fb.property }}" content="{{ fb.content }}">
      {% endfor %}
    {% endif %}

    {% for flip in flipahead %}
      <link rel="{{ flip.rel }}" href="{{ flip.url }}">
    {% endfor %}
  </head>
  <body>
    <div id="logo" class="centered">
      <ul id="languages">
        {% for language in languages %}
          {% if loop.key !== settings.lang %}
            <li>
              <a title="{{ language.name }}" hreflang="{{ loop.key }}"
                href="{% if language.url %}{{ language.url }}{% else %}/{{ loop.key }}{% endif %}">{{ language.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <p role="banner">{{ meta.titlesuffix }}</p>
    </div>

    <nav class="full-width">
      <ul role="navigation" class="centered">
        {% for page in pages %}
        <li{% if page.url == meta.url %} class="current"{% endif %}>
          <a rel="{{ page.rel }}" title="{{ page.header }}" href="{{ page.url }}">{{ page.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="centered">
      <header role="contentinfo">
        <h1>{{ meta.header }}</h1>
        <p class="desc-transform">{{ meta.description }}</p>
      </header>
      <article role="main" class="{{ meta.view|lower }}">

        {{ content|safe }}

      </article>
    </div>

    <footer class="full-width">
      <p class="centered">
        {% for footer in footers %}
        <a title="{{ footer.alt }}" href="{{ footer.url }}">{{ footer.text|safe }}</a>
        {% endfor %}
      </p>
    </footer>
    <script src="/js/naginata.min.js"></script>
  </body>
</html>
