<?xml version="1.0" encoding="utf-8" ?>
<urlset xmlns="https://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="https://www.w3.org/1999/xhtml">
{% for page in pages %}
  <url>
    <loc>https://naginata.fi{{ page.loc }}</loc>
    <lastmod>{{ page.lastmod }}</lastmod>
    <changefreq>{{ page.changefreq }}</changefreq>
  {% for alter in page.alternates %}
    <xhtml:link rel="alternate" hreflang="{{ alter.lang }}" href="https://naginata.fi{{ alter.href }}" />
  {% endfor %}
  </url>
{% endfor %}
</urlset>
