<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Naginata in Finland</title>
		<link rel="shortcut icon" href="img/favicon.png" type="image/png"/>
        <link rel="stylesheet" href="css/main.css" type="text/css" media="all"/>
		<script type="text/javascript" src="js/modernizr.js"></script>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="#finland" title="Naginata in Finland">Naginata in Finland</a></li>
				<li><a href="#atarashii" title="Atarashii Naginatado">Atarashii Naginatado</a></li>
				<li><a href="#jikishin" title="Jikishinkageryu Naginatajutsu">Jikishinkageryu Naginatajutsu</a></li>
			</ul>
		</nav>
		<section id="finland">
			<header>
				<h2>Naginata in Finland</h2>
				<p></p>
			</header>
			<p></p>
			<footer>
				<p>Published: <time datetime="2011-12-18T19:35+0300" pubdate>December 18, 2011 19:35 EET</time></p>
			</footer>
		</section>
		<section id="atarashii">
			<header>
				<h2>Atarashii Naginatado</h2>
				<p></p>
			</header>
			<p></p>
			<footer>
				<p>Published: <time datetime="2011-12-18T19:35+0300" pubdate>December 18, 2011 19:35 EET</time></p>
			</footer>
		</section>
		<section id="jikishin">
			<header>
				<h2>Jikishinkageryu Naginatajutsu</h2>
				<p></p>
			</header>
			<p></p>
			<footer>
				<p>Published: <time datetime="2011-12-18T19:35+0300" pubdate>December 18, 2011 19:35 EET</time></p>
			</footer>
		</section>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/naginata.js"></script>
	</body>
</html>